body {
	margin: 0;
	padding: 0;
	color: #333333;
	-webkit-tap-highlight-color: transparent;
	background: #efefef;
	font-family: "Roboto","Helvetica","Arial","sans-serif"
}

* {
	box-sizing: border-box;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 56px;
	background-color: #2B9A9C;
	color: #FFF;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.navbar .app-name {
	font-size: 20px;
	line-height: 56px;
	font-weight: 500;
	margin-left: 24px;
}

.navbar .info-button {
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
	line-height: 24px;
	font-size: 18px;
	background-color: rgba(255,255,255,.85);
	color: #37999d;
	float: right;
	margin: 16px 24px;
}

.navbar .info-button:hover,
.navbar .info-button.info-button-down{
	background-color: rgba(255,255,255,1);
}

@media only screen and (min-width: 840px) {
	.navbar {
		height: 40px;
	}
	.navbar .app-name {
		line-height: 40px;
	}
	.navbar .info-button {
		margin: 8px 24px;
	}
}

.main {
	padding-bottom: 24px;
	padding-top: 75px;
}

img {
	max-width: 100%
}

figure {
	margin: 0;
}

@media only screen and (min-width: 481px) {
	.main {
		padding-left: 24px;
		padding-right: 16px;
	}
}

.input {
	width: 100%;
	height: 200px;
}

.timeline {
	display: block;
	width: 100%;
	height: 40px;
}


.info-button-down {
	margin: 0 0 3px 3px;
	box-shadow: 0px 0px black;
}

textarea {
	border: none;
	border-radius: 0;
	padding: 0 0;
	border-bottom: 1px solid rgba(0,0,0,0.38);
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212121;
	min-height: 24px;
	
	word-break: break-word;
	transition: height;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
	resize: vertical;
}

textarea:focus {
	outline: none;
	border-bottom: 2px solid #318689;
}

.container {
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.12);
	font-size: 14px;
	color: #212121;
	border-top-width: 0;
	padding: 8px 24px;
}

.container .container-header{

}

.container .container-header .container-title{
	color: #212121;
	font-size: 20px;
}

.container .container-header .container-close{
	float: right;
	margin: -5px -21px;
	color: #666;
	width: 32px;
	height: 32px;
	text-align: center;
	border-radius: 50%;
	line-height: 30px;
	font-size: 20px;
	transition: background-color .2s cubic-bezier(.4, 0, .2, 1);
	cursor: pointer;
}

.container .container-header .container-close:hover{
	background-color: rgba(158, 158, 158, .2);
}

.raised {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
}


.grid:after{
	content: "";
	display: table;
	clear: both;
	float: none;
}


@media only screen and (min-width: 1000px) {
	.demo-section .grid {
		margin-left: -16px;
		margin-right: -16px;
	}
	.demo-section .grid .grid-element {
		width: 50%;
		padding: 16px;
		float: left;
	}
}

