.input {
	width: 1200px;
	height: 200px;
}

.timeline {
	display: block;
	margin-top: 30px;
	width: 1200px;
	height: 40px;
}

.demo-images {
	margin-top: 100px;
}

.demo-images figure {
	margin-left: 0;
	float: left;
	border: 1px solid #adadad;
	padding: 10px;
}
