<!doctype html>
<html>
<head>
	<title>Gaps N' Laps</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="app.css">
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<h1>Gaps N' Laps</h1>
	<div id="app">
		<textarea class="input" v-model="input"></textarea>
		<svg class="timeline">
			<timespan
			v-for="(timespan, index) in getTimespans()"
			v-bind:timespan="timespan"
			v-bind:index="index"
			v-bind:key="index"
			class="timespan">
		</timespan>
	</svg>
</div>
<script>

	Vue.component('timespan', {
		props: ['timespan', 'index'],
		methods: {
			getStartPos: function() {
				var firstTimespan = this.$root.getFirstTimespan();
				return (this.timespan.start.getTime() - firstTimespan.start.getTime()) / 50000;
			},
			getSpan: function() {
				return (this.timespan.end.getTime() - this.timespan.start.getTime()) / 50000;
			}
		},
		template: '<rect v-bind:x="getStartPos()" v-bind:y="index * 30" v-bind:width="getSpan()" height="30" style="fill:rgb(128,128,255)" />'
	});

	var app = new Vue({
		el: '#app',
		data: {
			input: '(08:00 - 10:00) (09:00 - 11:30) (12:00 - 14:00) (15:00 - 16:00)',
		},
		methods: {
			getTimespans: function() {

				const regex = /\(([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]) - ([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])\)/g;
				let m;
				var timespanObjects = [];

				while ((m = regex.exec(this.input)) !== null) {

					if (m.index === regex.lastIndex)
						regex.lastIndex++;

					var startHours;
					var startMinutes;
					var endHours;
					var endMinutes;

					m.forEach((match, groupIndex) => {

						if(groupIndex == 1)
							startHours = match;

						if(groupIndex == 2)
							startMinutes = match;

						if(groupIndex == 3)
							endHours = match;

						if(groupIndex == 4) {

							endMinutes = match;

							var timespanObject = {
								"start": new Date(null, null, null, startHours, startMinutes),
								"end": new Date(null, null, null, endHours, endMinutes),
							};

							timespanObjects.push(timespanObject);
						}

						console.log(`Found match, group ${groupIndex}: ${match}`);
					});
				};

				timespanObjects.sort(function(a, b){return a.start - b.start});

				return timespanObjects;
			},
			getFirstTimespan: function() {
				return this.getTimespans()[0];
			},
		}
	});

</script>
</body>
</html>
