<!doctype html>
<html>
<head>
	<title>Gaps N' Laps</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="app.css">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<script src="https://unpkg.com/vue"></script>
</head>
<body>
	<div id="app">
		<div class="navbar">
			<span class="app-name">Gaps N' Laps</span>
			<span v-on:click="displayInfo = !displayInfo" class="info-button" v-bind:class="{ 'info-button-down' : displayInfo }">?</span>
		</div>
		<div class="main">
			<div class="demo-section container raised" v-show="displayInfo" style="margin-bottom: 30px;">
				<div class="container-header">
					<span class="container-title">Veiledning</span>
					<span class="container-close" v-on:click="displayInfo = !displayInfo">×</span>
				</div>
				<div class="demo-images grid">
					<div class="grid-element">
						<figure>
							<figcaption><b>A)</b> Kopier timeføringer for aktuell dag slik at klokkeslettene kommer med</figcaption>
							<img src="demo-cut.png" alt="Cut">
						</figure>
					</div>
					<div class="grid-element">
						<figure>
							<figcaption><b>B)</b> Lim teksten inn i input-feltet og kontroller tidslinjen for gliper og overlapp</figcaption>
							<img src="demo-paste.png" alt="Paste">
						</figure>
					</div>
				</div>
			</div>
			<div class="container raised">
				<textarea class="input" v-model="input"></textarea>
				<p v-if="timespans.length > 0">Arbeid fra kl. {{ workStartTime }} til kl. {{ workEndTime }}</p>
			</div>
			<div class="container raised" v-if="timespans.length > 0" style="margin-top: 30px;">
				<svg class="timeline">
					<timespan
					v-for="(timespan, key) in timespans"
					v-bind:timespan="timespan"
					v-bind:key="key"
					class="timespan">
					</timespan>
				</svg>
				<div> 
					<p v-show="totalWorkTime != '00:00'">Total arbeidstid: {{ totalWorkTime }}</p> 
					<p v-show="totalGapTime != '00:00'">Total glipe-tid: {{ totalGapTime }}</p>
					<p v-show="totalOverlapTime != '00:00'">Total overlapp-tid: {{ totalOverlapTime }}</p>
				</div> 
			</div>
		</div>
	</div>
<script>

	Vue.component('timespan', {
		props: ['timespan'],
		methods: {
			getStartPos: function() {
				var firstTimespan = this.$root.timespans[0];
				var startPos = (this.timespan.start.getTime() - firstTimespan.start.getTime()) / 864000;
				return startPos + "%";
			},
			getSpan: function() {
				var span = (this.timespan.end.getTime() - this.timespan.start.getTime()) / 864000;
				return span + "%";
			}
		},
		template: '<rect v-bind:x="getStartPos()" v-bind:width="getSpan()" height="100%" style="fill:rgba(255,0,0,0.5); stroke-width:1; stroke:rgb(100,100,100)" />'
	});

	var app = new Vue({
		el: '#app',
		data: {
			input: '',
			displayInfo: false,
		},
		methods: {
			totalSeparationTimes: function() {
				
				var totalPositiveSeparationTime = 0;
				var totalNegativeSeparationTime = 0;

				for (var i = this.timespans.length-1; i > 0; i--) {
					
					var separationTime = this.timespans[i].start - this.timespans[i-1].end

					if (separationTime > 0)
						totalPositiveSeparationTime += separationTime;

					if (separationTime < 0)
						totalNegativeSeparationTime += 1 - separationTime;
				}

				return {"totalPositiveSeparationTime": totalPositiveSeparationTime, "totalNegativeSeparationTime": totalNegativeSeparationTime};
			},
			secondsToHoursAndSeconds: function(seconds) {

				var hours = Math.floor(seconds / (1000 * 60 * 60));
				seconds -= hours * (1000 * 60 * 60);

				var mins = Math.floor(seconds / (1000 * 60));
				seconds -= mins * (1000 * 60);

				if (hours < 10)
					hours = '0' + hours;

				if (mins < 10)
					mins = '0' + mins;

				return hours + ":" + mins;
			},
		},
		computed: {
			timespans: function(){
				return getTimespansFromInput(this.input);
			},
			workStartTime: function() {

				var workStart = this.timespans[0].start;

				return padZero(workStart.getHours()) + ':' + padZero(workStart.getMinutes());
			},
			workEndTime: function() {
				
				var workEnd = this.timespans[this.timespans.length-1].end;

				return padZero(workEnd.getHours()) + ':' + padZero(workEnd.getMinutes());
			},
			totalWorkTime: function() {
				
				var totalWorkTime = 0;

				this.timespans.forEach(function(timespan) {
					totalWorkTime += timespan.end - timespan.start;
				});

				return this.secondsToHoursAndSeconds(totalWorkTime);
			},
			totalGapTime: function() {
				
				var totalGapTime = this.totalSeparationTimes().totalPositiveSeparationTime

				return this.secondsToHoursAndSeconds(totalGapTime);
			},
			totalOverlapTime: function() {

				var totalOverlapTime = this.totalSeparationTimes().totalNegativeSeparationTime

				return this.secondsToHoursAndSeconds(totalOverlapTime);
			},
		}
	});

	function getTimespansFromInput(input) {

		const regex = /\(([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-5][0-9]) - ([0-9]|0[0-9]|1[0-9]|2[0-3]):([0-5][0-9])\)/g;
		let m;
		var timespanObjects = [];

		while ((m = regex.exec(input)) !== null) {

			if (m.index === regex.lastIndex)
				regex.lastIndex++;

			var startHours;
			var startMinutes;
			var endHours;
			var endMinutes;

			m.forEach((match, groupIndex) => {

				if(groupIndex == 1)
					startHours = match;

				if(groupIndex == 2)
					startMinutes = match;

				if(groupIndex == 3)
					endHours = match;

				if(groupIndex == 4) {

					endMinutes = match;

					var timespanObject = {
						"start": new Date(null, null, null, startHours, startMinutes),
						"end": new Date(null, null, null, endHours, endMinutes),
					};

					timespanObjects.push(timespanObject);
				}

				console.log(`Found match, group ${groupIndex}: ${match}`);
			});
		};

		timespanObjects.sort(function(a, b){return a.start - b.start});

		return timespanObjects;
	}

	function padZero(number) {
		return number < 10 ? '0' + number : number;
	}
</script>
</body>
</html>
